body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
    border: none;
}

.card-header {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.table th {
    vertical-align: middle;
}
